<section class="quiz-detail">
  <h2>{{ quiz.name }}</h2>

  @if (quiz.questions[currentQuestionIndex]; as question) {
    <div class="question">
      <h3>{{ question.text }}</h3>

      <ol class="answer-list" type="A">
        @for (answer of question.answers; track answer.text) {
          <li (click)="selectAnswer(answer)">
            {{ answer.text }}
          </li>
        }
      </ol>
    </div>
  } @else {
    <h3>Quiz completed!</h3>

    <p>
      Correct answers: {{ correctAnswers }} out of
      {{ quiz.questions.length }}
    </p>
  }
</section>
